@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body {
  background-color: #1a1a1a;
  color: white;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'League Spartan', sans-serif;
}
